body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .cv-container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-section {
    background-color: #a87e65;
    color: #fff;
    text-align: center;
    padding: 50px 0;
  }
  
  .profile-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .profile-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .profile-section h2 {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 0;
  }
  
  .content-section {
    padding: 30px;
  }
  
  .section {
    margin-bottom: 30px;
  }
  
  .section h3 {
    border-bottom: 2px solid #a88
  }